@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply flex flex-col items-center;
  }

  body {
    @apply flex flex-col items-center gap-10 my-10 text-black font-manrope;
  }

  input,
  textarea {
    @apply bg-inputBg py-[10px] px-[20px] resize-none outline-none;
  }

  h1,
  h2,
  h3 {
    @apply font-semibold;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-2xl;
  }

  form {
    @apply flex items-start gap-10;
  }

  a {
    @apply text-primaryBlue hover:text-hoverBlue;
  }
}

@layer components {
  .btn {
    @apply px-[20px] py-[15px] text-white tracking-wide uppercase font-semibold bg-primaryBlue hover:bg-hoverBlue focus:bg-focusBlue rounded-xl shadow-lg;
  }

  .alt-btn {
    @apply px-[20px] py-[15px] text-white tracking-wide font-semibold bg-black hover:bg-gray-700;
  }

  .auth-form {
    @apply w-full md:w-1/2 flex-col items-center p-3 md:p-10 bg-white shadow-lg rounded-xl;
  }

  .loader {
    @apply hidden absolute inset-0 justify-center items-center space-x-2;
  }

  .loader div {
    @apply bg-primaryBlue rounded-full w-4 h-4;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .regular-margin {
    @apply max-w-7xl w-full mx-3 md:mx-12;
  }
  .regular-padding {
    @apply max-w-7xl w-full px-3 md:px-12;
  }
  .carousel-padding {
    @apply pl-3 md:pl-12 ml-12 -mr-12;
  }
}

@keyframes bounce1 {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

@keyframes bounce3 {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

.loader div {
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.animate-bounce1 {
  animation-name: bounce1;
  animation-duration: 1.2s;
}

.animate-bounce2 {
  animation-name: bounce2;
  animation-duration: 1.2s;
  animation-delay: 0.2s;
}

.animate-bounce3 {
  animation-name: bounce3;
  animation-duration: 1.2s;
  animation-delay: 0.4s;
}
